<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>
    <h1>Add Employee</h1>
    <form method="post">
        <label>ID:</label><br>
        <input type="text" name="employee_id"><br>
        <label>Name:</label><br>
        <input type="text" name="name"><br>
        <label>Email:</label><br>
        <input type="email" name="email"><br>
        <label>Department:</label><br>
        <input type="text" name="department"><br>
        <label>Position:</label><br>
        <input type="text" name="position"><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>
